
.general{                                 /* ZONA DE ENCABEZADO */ 
    margin: 1px;
    background: rgb(125, 148, 179);
    border: 2px solid black; 
    padding: 50px;
    padding-bottom: 10px;
    height: 170;
}

.seccion1{
    position: relative;
    left: 2cm;
}

.seccion2{
 position: relative;
 bottom: 17cm;
}

.seccion3{
    position: relative;
    bottom: 27.3cm;
    right: 2cm;
}

h1{                                       /* Titulo "ACERCA DE..." */        
    font-family: cursive;  
    font-style: oblique;
    font-size: 30px;
    padding: 15px;
    border: 3px dashed black; 
    width: 250px;
    background: rgb(113, 191, 194);
    position: relative;
    left: 1cm;
}

aside{                                    /* TEXTO INFORMATIVO" */ 
    font-family: cursive;
    margin-right: 10px;
    background: rgb(58, 84, 119);
    border: 2px solid black; 
    width: 350px;
    padding: 10px;
}

h2{                                       /* Titulo "A JUGAR!!!!"*/ 
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
    padding: 15px;
    border: 3px dashed black; 
    width: 250px;
    background: rgb(113, 191, 194);
    text-align: center;
}

h3{                                       /* Titulo "RESULTADOS" */ 
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
    padding: 15px;
    border: 3px dashed black; 
    width: 250px;
    background: rgb(113, 191, 194);
}
h4{                                       /* Titulo "GANADOR DEFINITIVO" */ 
    font-family: fantasy;
    font-style: oblique;
    font-size: 25px;
    padding: 15px;
    border: 8px double rgb(0, 0, 0); 
    width: 250px;
    background: rgb(196, 160, 0);
}

.comandos{                                  /* NOMBRES Y BOTÓN */ 
    font-family: cursive;
    position: relative;
    bottom: 3cm;
}

article#tabla{
    width: 25%;
}

article#tabla input{                       /* BOTONES */     
    font-size:3em;
    width: 85px;
    height: 85px;
}


input[type ="button"]#iniciar{            /* BOTON COMENZAR*/
    font-family: cursive;
    font-weight: 900;
    font-size: 0.8em;
    padding: 0.7em;
    background: rgb(216, 2, 2);
}

label{                                   /*ETIQUETAS DE NOMBRES*/
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

label#premio{                             /*ETIQUETA DEL GANADOR*/
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.botonInicial{                           /*BOTON ANTES DE EMPEZAR JUEGO*/
    color:white;
    background-color: white;
}

.botonJ1{                                /*BOTON PARA EL JUGADOR #1*/
    color: white;
    background-color: rgb(44, 11, 53);
}

.botonJ2{                                /*BOTON PARA EL JUGADOR #2*/
    color: white;
    background-color: rgb(47, 52, 53);
}